on:
  # allows to manually run the job at any time
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - '.github/workflows/badges-action-markdown.yml'

jobs:
  update-profile-badges:
    runs-on: ubuntu-latest
    name: Update profile badges
    steps:
      - name: Update Badges
        uses: kamuridesu/markdown-badges@v0.0.2
        with:
          BADGES: "Python Java JavaScript 'Shell Script' 'GitHub Actions' 'GitLab CI' Django Flask Node.js Spring AWS Azure 'Google Cloud' Neovim 'Sublime Text' 'Visual Studio Code' Arch Windows Ansible Docker Jira Kubernetes Terraform Vagrant Jenkins Git Gitea GitHub GitLab RabbitMQ "
